.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: #1877f2;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}
.topbarContainer .topbarLeft {
  flex: 3;
}
.topbarContainer .topbarLeft .logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.topbarContainer .topbarCenter {
  flex: 5;
}
.topbarContainer .topbarCenter .searchbar {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.topbarContainer .topbarCenter .searchbar .searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}
.topbarContainer .topbarCenter .searchbar .searcInput {
  border: none;
  width: 70%;
}
.topbarContainer .topbarCenter .searchbar .searcInput:focus {
  outline: none;
}
.topbarContainer .topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: White;
}
.topbarContainer .topbarRight .topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}
.topbarContainer .topbarRight .topbarIcons {
  display: flex;
}
.topbarContainer .topbarRight .topbarIcons .topbarIconItems {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}
.topbarContainer .topbarRight .topbarIcons .topbarIconItems .topbarIconBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  hieght: 20px;
  /* padding: ; */
  background: red;
  border-radius: 50%;
  color: White;
  position: absolute;
  top: -8px;
  font-size: 15px;
}

.topbarContainer .topbarRight .topbarImg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
